


.CMWorkflow-head {
  width: 87%;
  /* margin: 0 auto; */
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  /* height: 45px; */
  justify-content: space-between;
  align-items: center;
  margin-left: 6.5%;
}
.CMWorkflow-head .btn
{
  width:max-content;

}
.creatorConfigBtn{
  padding: 0px 4px;
  font-size:0.8em;
}
.CMWorkflow-head-updatedOn{
  border-bottom:1px solid black;
  margin-left:4px;
}

:root {
  --ExpenseWorkflowfield_col1wid: 6%;
  --ExpenseWorkflowfield_col2wid: 16%;
  --ExpenseWorkflowfield_col2-2wid: 14%;
  --ExpenseWorkflowfield_col3wid: 14%;
  --ExpenseWorkflowfield_col4wid: 10%;
  --ExpenseWorkflowfield_col5wid: 10%;
  --ExpenseWorkflowfield_col6wid: 10%;
  --ExpenseWorkflowfield_col7wid: 10%;
  --ExpenseWorkflowfield_col8wid: 10%;
  /*  col 6 is for our icon columns */
  /*col 5 is updated by*/
}

.ExpenseWorkflow-config-head .btnSave, .AllocationWorkflow-config-head .btnSave {
  height: 23px;
  line-height: 20px !important;
  /* padding: 0px; */
  width: max-content !important;
  padding: 0px 3px !important;
  background-color: #44D9C6;
  font-size:0.8em;
}

.ExpenseWorkflowfield-container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}



.ExpenseWorkflowfield-container i {
  color: grey;
}

.ExpenseWorkflowfield-container i:hover {
   color: black;
   cursor: pointer;
}

.ExpenseWorkflowfield-drop-down {
  display: flex;
  flex-direction: row;
}

.ExpenseWorkflowfield-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 10%;
  width: max-content;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
}


.ExpenseWorkflowfield-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 72%;
}

.ExpenseWorkflowfield-drop-down {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 35%;
}

.ExpenseWorkflowfield-tablecontainer {
  height: 30%;
  width: 87%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  max-height: 185px;
  overflow: hidden;
}

.ExpenseWorkflowfield-table {
  width: 100%;
  height: 100%;
}

.ExpenseWorkflowfield-tablehead {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  background: #F0F1F5;
  padding: 5px;
  padding-right: 0px;
  padding-left:0px;
}




.ExpenseWorkflowfield-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 5%;
}

.ExpenseWorkflow-dropdownclass {
  width: max-content;
}

.ExpenseWorkflowtable-name {
  /*font-weight: bold;*/
  font-size: 1.3em;
  width: max-content;
  margin: 0 auto;
  margin-top: 19px;
  font-family: 'Oswald';
  border-bottom: 1px solid #ccc;
  margin: initial;
  margin-bottom: 16px;
  padding-bottom: 4px;
  color: #435e88;
  margin-top: 20px;
  margin-left: 6.5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-top: 20px;*/
}

.ExpenseWorkflowfield-tablebody div {
  display: flex;
  flex-direction: row;
  padding-top: 5px;

}


.ExpenseWorkflow-table-attribute1 {
  width: var(--ExpenseWorkflowfield_col1wid);
  overflow-wrap: anywhere;
}

.ExpenseWorkflow-table-attribute2 {
  width: var(--ExpenseWorkflowfield_col2wid);
  overflow-wrap: anywhere;
}
.ExpenseWorkflow-table-attribute2-2 {
  width: var(--ExpenseWorkflowfield_col2-2wid);
  overflow-wrap: anywhere;
}
.ExpenseWorkflow-table-attribute3 {
  width: var(--ExpenseWorkflowfield_col3wid);
  overflow-wrap: anywhere;
}

.ExpenseWorkflow-table-attribute4 {
  width: var(--ExpenseWorkflowfield_col4wid);
  overflow-wrap: anywhere;
}
.ExpenseWorkflow-table-attribute5 {
  width: var(--ExpenseWorkflowfield_col5wid);
  overflow-wrap: anywhere;
}
.ExpenseWorkflow-table-attribute6 {
  width: var(--ExpenseWorkflowfield_col6wid);
  overflow-wrap: anywhere;
}
.ExpenseWorkflow-table-attribute7 {
  width: var(--ExpenseWorkflowfield_col7wid);
  overflow-wrap: anywhere;
}

.ExpenseWorkflow-table-attribute8 {
  width: var(--ExpenseWorkflowfield_col8wid);
  overflow-wrap: anywhere;
}

  .ExpenseWorkflow-table-attribute1 span {
      overflow: hidden;
    /*margin-right: 47px;*/
  }

.ExpenseWorkflow-table-attribute2 span {
  overflow: hidden;
/*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute3 span {
  overflow: hidden;
/*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute4 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute5 span {
  overflow: hidden;
  width: 35%;
  text-align: center;
  /*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute6 span {
  overflow: hidden;
  width:35%;
  text-align:center;
/*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute7 span {
  overflow: hidden;
  width: 35%;
  text-align: center;
  /*margin-right: 47px;*/
}

.ExpenseWorkflow-table-attribute8 span {
  overflow: hidden;

  /*margin-right: 47px;*/
}

.expense-approve-col {
  color: #45D9C6;
}

.expense-approve-col:hover{
 cursor:pointer;
}

.expense-approved-col
{
  color:black;
}

.expense-approved-col:hover {
  cursor:default;
}




.ExpenseWorkflow-new-entry {
  margin-top: 3%;
  margin-left: 6.5%;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.ExpenseWorkflow-table-view {
  cursor: pointer;
}



.ExpenseWorkflowfield-tablebody  .ExpenseWorkflow-table-view,.ExpenseWorkflow-table-update,.ExpenseWorkflow-table-remove,.ExpenseWorkflow-table-toggle {
  padding-left:1%;
}



  

.fa-cog {
  cursor: pointer;
  color: #aaa;
}

  .fa-cog:hover {
      color: black;
  }

.fa-trash-alt {
  cursor: pointer;
  color: #aaa;
}

  .fa-trash-alt:hover {
      color: black;
  }

.ExpenseWorkflowfield-row .left-pad {
  width: 10px;
  /*background-color: #7A899C;*/
  background-color:lightblue;
  margin-right: 8px;
}

.ExpenseWorkflowfield-tablehead .left-pad {
  width: 10px;
  background-color: #F0F1F5;
  margin-right: 8px;
}

.ExpenseWorkflowfield-row {
  border-bottom: 1px solid aliceblue;
}

.custom-btn-group div {
  margin-right: 5px;
}

.custom-disable-color {
  color: #7a899c96;
}

.custom-disable-left-pad {
  background-color: #7a899c21;
  width: 10px;
  margin-right: 8px;
}

.fa-toggle-on{
  color:blue;
}

.fa-toggle-off{
  color:lightgray;
}

.ExpenseWorkflowfield-tablebody {
  max-height: 148px;
  overflow-y: scroll;
}

.ExpenseWorkflowfield-tablebody:hover {

  /*overflow-y: scroll;*/

}


.ExpenseWorkflow-config-head {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  /* height: max-content; */
  height: 28px;
  margin-top: 10px;
  width: 87%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;
}

.workflowPop-radio{

  flex-basis:46%;

}

.workflowPop-radio input {
  width: auto !important;
}

.workflowPop-radio label {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-top:2px;
}
/*
--Allocation Workflow CSs------------------*/
:root {
  --AllocationWorkflowfield_col1wid: 6%;
  --AllocationWorkflowfield_col2wid: 16%;
  --AllocationWorkflowfield_col2-2wid: 14%;
  --AllocationWorkflowfield_col3wid: 14%;
  --AllocationWorkflowfield_col4wid: 10%;
  --AllocationWorkflowfield_col5wid: 10%;
  --AllocationWorkflowfield_col6wid: 10%;
  --AllocationWorkflowfield_col7wid: 10%;
  --AllocationWorkflowfield_col8wid: 10%;
  /*  col 6 is for our icon columns */
  /*col 5 is updated by*/
}

.AllocationWorkflow-config-head .btnSave, .AllocationWorkflow-config-head .btnSave {
  height: 23px;
  line-height: 20px !important;
  /* padding: 0px; */
  width: max-content !important;
  padding: 0px 3px !important;
  background-color: #44D9C6;
}

.AllocationWorkflowfield-container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}



  .AllocationWorkflowfield-container i {
      color: grey;
  }

      .AllocationWorkflowfield-container i:hover {
          color: black;
          cursor: pointer;
      }

.AllocationWorkflowfield-drop-down {
  display: flex;
  flex-direction: row;
}

.AllocationWorkflowfield-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 10%;
  width: max-content;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
}


.AllocationWorkflowfield-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 72%;
}

.AllocationWorkflowfield-drop-down {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 35%;
}

.AllocationWorkflowfield-tablecontainer {
  height: 30%;
  width: 87%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
}

.AllocationWorkflowfield-table {
  width: 100%;
}

.AllocationWorkflowfield-tablehead {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  background: #F0F1F5;
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
}




.AllocationWorkflowfield-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 5%;
}

.AllocationWorkflow-dropdownclass {
  width: max-content;
}

.AllocationWorkflowtable-name {
  /*font-weight: bold;*/
  font-size: 1.3em;
  width: max-content;
  margin: 0 auto;
  margin-top: 19px;
  font-family: 'Oswald';
  border-bottom: 1px solid #ccc;
  margin: initial;
  margin-bottom: 16px;
  padding-bottom: 4px;
  color: #435e88;
  margin-top: 20px;
  margin-left: 6.5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*margin-top: 20px;*/
}

.AllocationWorkflowfield-tablebody div {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

  .AllocationWorkflowfield-tablebody div:nth-of-type(1) {
      /*padding-top: 8px;*/
  }

.AllocationWorkflow-table-attribute1 {
  width: var(--AllocationWorkflowfield_col1wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute2 {
  width: var(--AllocationWorkflowfield_col2wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute2-2 {
  width: var(--AllocationWorkflowfield_col2-2wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute3 {
  width: var(--AllocationWorkflowfield_col3wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute4 {
  width: var(--AllocationWorkflowfield_col4wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute5 {
  width: var(--AllocationWorkflowfield_col5wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute6 {
  width: var(--AllocationWorkflowfield_col6wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute7 {
  width: var(--AllocationWorkflowfield_col7wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute8 {
  width: var(--AllocationWorkflowfield_col8wid);
  overflow-wrap: anywhere;
}

.AllocationWorkflow-table-attribute1 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute2 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute3 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute4 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute5 span {
  overflow: hidden;
  width: 35%;
  text-align: center;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute6 span {
  overflow: hidden;
  width: 35%;
  text-align: center;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute7 span {
  overflow: hidden;
  width: 35%;
  text-align: center;
  /*margin-right: 47px;*/
}

.AllocationWorkflow-table-attribute8 span {
  overflow: hidden;
  /*margin-right: 47px;*/
}






.AllocationWorkflow-new-entry {
  margin-top: 3%;
  margin-left: 6.5%;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.AllocationWorkflow-table-view {
  cursor: pointer;
}



.AllocationWorkflowfield-tablebody .AllocationWorkflow-table-view, .AllocationWorkflow-table-update, .AllocationWorkflow-table-remove, .AllocationWorkflow-table-toggle {
  padding-left: 1%;
}





.fa-cog {
  cursor: pointer;
  color: #aaa;
}

  .fa-cog:hover {
      color: black;
  }

.fa-trash-alt {
  cursor: pointer;
  color: #aaa;
}

  .fa-trash-alt:hover {
      color: black;
  }

.AllocationWorkflowfield-row .left-pad {
  width: 10px;
  /*background-color: #7A899C;*/
  background-color: lightblue;
  margin-right: 8px;
}

.AllocationWorkflowfield-tablehead .left-pad {
  width: 10px;
  background-color: #F0F1F5;
  margin-right: 8px;
}

.AllocationWorkflowfield-row {
  border-bottom: 1px solid aliceblue;
}

.custom-btn-group div {
  margin-right: 5px;
}

.custom-disable-color {
  color: #7a899c96;
}

.custom-disable-left-pad {
  background-color: #7a899c21;
  width: 10px;
  margin-right: 8px;
}

.fa-toggle-on {
  color: blue;
}

.fa-toggle-off {
  color: lightgray;
}

.AllocationWorkflowfield-tablebody {
  max-height: 400px;
  overflow-y: scroll;
}

  .AllocationWorkflowfield-tablebody:hover {
      /*overflow-y: scroll;*/
  }


.AllocationWorkflow-config-head {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  /* height: max-content; */
  height: 28px;
  margin-top: 10px;
  width: 87%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 60px;
}

.workflowPop-radio {
  flex-basis: 46%;
}

  .workflowPop-radio input {
      width: auto !important;
  }

  .workflowPop-radio label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2px;
  }











.workflowPop-form {
  width: 76%;
  min-width: 613px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  margin: 0 auto;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 81%;
  margin-top: 27px;
  border: 1px solid #d0f0f8;
  background-color: #F9fbfe;
  position: absolute;
  width: 37%;
  height: 37%;
  left: 30%;
  top: 17%;
}
.workflowPop-Add-header {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  background: #F0F1F5;
  text-align: center;
  width: 95%;
}

  .workflowPop-form input {
      width: 41%;
      font-size: 0.8em;
      display: block;
      /* width: 100%; */
      /* height: 24px; */
      padding: 0px 4px;
      /* font-size: 12px; */
      /* line-height: 5.428571; */
      color: #1e0c0c;
      background-color: #fff;
      /* background-image: none; */
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

      .workflowPop-form input:focus {
          border-color: #66afe9;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
          box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
      }

      .workflowPop-form input[disabled] {
          cursor: default;
          background: #f5f5f530;
      }

.workflowPop-form-field {
  display: flex;
  flex-direction: row;
  width: 72%;
  margin-top: 10px;
  justify-content: space-between;
}

.workflowPop-btn-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  width: 360px;
  margin-top: 30px;
}


.workflowPop-form-close {
  position: relative;
  text-align: left;
  text-align: right;
  top: 51px;
  width: 76%;
  min-width: 613px;
  margin: 0 auto;
  top: 55px;
  color: #aaa;
  right: 5px;
  cursor: pointer;
}

.workflowPop-form-close:hover {
      color: black;
  }



/*Criteria Screen-------------------------------------------------------------------------*/ 


.rules-criteria-flex-vertical
{
   display:flex;
   flex-direction:column;
  justify-content:space-around;
  height:30%;
}


.rules-criteria-flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;

  margin-top:10px;
}

.rules-criteria-wid30
{
  width:30%;
}
.rules-criteria-wid50 {
  width: 50%;
}

.rules-criteria-wid70 {
  width: 70%;
}
.rules-criteria-wid40 {
  width: 40%;
}
.DropDownMultiSelect {
  position: absolute;
  background-color: white;
  width: auto;
  /* max-height: 200px; */
  box-shadow: -1px 4px 5px 2px #00000012;
  z-index: 10;
  border: 1px solid #e0e5ea;
}

.DropDownMultiSelectOption {
  padding-left: 5px;
  position: relative;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  padding-top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input.DropDownMultiSelectSearch {
  width: 100%;
  outline: none;
  border: none;
  text-indent: 15px;
  border-bottom: 1px solid #c5c5c5;
}

.DropDownMultiSelectBody {
  max-height: 150px;
  overflow: auto;
}

.DropDownMultiSelectOption {
  padding-left: 25px;
  padding-top: 4px;
}

  .DropDownMultiSelectOption.DropDownMultiSelectOptionSelected {
      color: #78c0ff;
  }

.DropDownMultiSelectSearchParent {
  padding: 5px;
}

.DropDownMultiSelectSearchIcon {
  position: absolute;
  color: #cfcfcf;
}

.DropDownMultiSelectSelectIcon {
  position: absolute;
  top: 7px;
  color: #66b8ff;
  font-size: 11px;
  left: 6px;
}

.AttributeParentIcon {
  width: 33%;
  float: left;
}

.AttributeInnerParentIcon {
  width: 15%;
  float: left;
}



.titleHeaderdiv {
  height: 6%;
  margin: 2%;
  margin-bottom: 0%;
}

.titleHeaderLabel {
  padding-left: 2%;
  width: 72%;
  float: left;
}

.createPopUpDiv {
  z-index: 100;
  top: 0%;
  border: 1px solid #BCC3CB;
  border-radius: 5px;
  color: black;
}

.mainComponent {
  margin: 3%;
  background-color: #F7FAFF;
  border-radius: 5px;
  padding-left: 2%;
  font-size: 12px;
}

.mainComponentTitle {
  text-transform: uppercase;
  padding: 1%;
  color: #8E8F93;
  font-size: 13px;
}

.creatorInfoDiv {
  padding-bottom: 2%;
  padding-left: 2%;
}

.submitterInfoDiv {
  padding-bottom: 2%;
  padding-left: 2%;
}

.submitterInfoInnerDiv {
  border-radius: 4px;
  border: 1px solid #EBF2FA;
  margin: 2%;
  padding: 2%;
  margin-left: 0%;
  background-color: #FFFFFF;
  margin-right: 5%;
}

.dropDownDivWithLabel {
  display: inline-block;
  border-bottom: 1px solid #808080;
  width: 61%;
}

.dropDownDivWithoutLabel {
  display: inline-block;
  border-bottom: 1px solid #808080;
  width: 100%;
}

.checkBoxLabel {
  padding-right: 1%;
  padding-left: 1%;
  color: #41597F;
}

.disabledCheckBox {
  color: #a59393;
}

.disableDropDownLabel {
  color: #a59393;
  pointer-events: none;
  border-bottom: 1px solid #a59393;
  cursor: text;
  background-color: #F2F2F2;
}

.inputDomainField {
  box-shadow: unset;
  height: 3vh;
  width: 42%;
  border-top: none;
  border-right: none;
  border-bottom: 0.5px solid rgb(184, 186, 199);
  border-left: none;
  border-image: initial;
  color: rgb(0, 0, 0);
  padding-left: 5px;
  margin-left: 10px;
}
.switchLabel {
  padding-left: 5px;
  padding-right: 10px;
}

#workflow-criteria-entityTypeId{
  width: max-content;;
  min-width: 150px;
}
#workflow-criteria-attributeTypeId{
  width: max-content;
  min-width: 150px;
}

#workflow-criteria-opertorId{
  width: 150px;
}

#workflow-criteria-attributeValueId{
  width: 150px;
}

.rules-criteria-flex-horizontal{
 
}

li{
  background-color: rgba(211, 211, 211, 0.164);
}